<footer class="page-footer font-small bg-secondary pt-4">
    <div class="container">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <h4 class="text-white">Siga-nos nas redes sociais: </h4>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">

                <ul class="social-network">
                    <li>
                        <a href="#" target="_blank" rel="noopener noreferrer"
                        class="icoFacebook">
                            <i class="fa fa-facebook-square social-icon" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>
                <ul class="social-network">
                    <li>
                        <a href="#" target="_blank" rel="noopener noreferrer"
                        class="icoInstagram">
                        <i class="fa fa-instagram social-icon" aria-hidden="true"></i>                        </a>
                    </li>
                </ul>
                <ul class="social-network">
                    <li>
                        <a href="#" target="_blank" rel="noopener noreferrer"
                        class="icoLinkedin">
                        <i class="fa fa-linkedin-square social-icon" aria-hidden="true"></i>
                    </a>
                    </li>
                </ul>
            </div>       
        </div>
    </div>

    <div class="footer-copyright bg-dark text-center py-3">
        <span class="text-light">2020 Copyright: </span>
        <a href="#" class="" target="_blank">Generation Brasil</a>
    </div>

</footer>
